<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            border-collapse: collapse;
             table-layout:fixed;
        }

        th, td {
            text-align: center;
            padding: 4px;
        }

        th {
            background-color: #3692CA;
            color: white;
        }
    </style>
</head>
<body>
      <h3>Spread Move:</h3>
      <!--<img border="0" src="cid:image1" alt="Pulpit rock" width="304" height="228">-->
      <img src="cid:image1">
      <h3>Trade Summary:</h3>
      <table>
      <tr>
      <td style='vertical-align:top'>
      <table cellspacing="0" border="1px solid black">
        <thead>
          <tr>
              <th>index</th>
              {% for c in trade_df.columns %}
                <th>{{c}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for id in trade_df.index %}
            <tr>
            <th>{{id}}</th>
              {% for c in trade_df.columns %}
                <td>{{trade_df[c][id]}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </td>
      <td style='vertical-align:top'>
      <table cellspacing="0" border="1px solid black">
        <thead>
          <tr>
              <th>index</th>
              {% for c in strat_df.columns %}
                <th>{{c}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for id in strat_df.index %}
            <tr>
            <th>{{id}}</th>
              {% for c in strat_df.columns %}
                <td>{{strat_df[c][id]}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </td>
      </tr>
      </table>
      <h3>BackTest</h3>
      <table cellspacing="0" border="1px solid black">
        <thead>
          <tr>
              <th>index</th>
              {% for c in bt_df.columns %}
                <th>{{c}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for id in bt_df.index %}
            <tr>
            <th>{{id}}</th>
              {% for c in bt_df.columns %}
                <td>{{bt_df[c][id]}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>Volatility(std)</h3>
      <table cellspacing="0" border="1px solid black">
        <thead>
          <tr>
              <th>index</th>
              {% for c in vol_df.columns %}
                <th>{{c}}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for id in vol_df.index %}
            <tr>
            <th>{{id}}</th>
              {% for c in vol_df.columns %}
                <td>{{vol_df[c][id]}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

</body>
</html>
