<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            border-collapse: collapse;
             table-layout:fixed;
        }

        th, td {
            text-align: center;
            padding: 4px;
        }

        th {
            background-color: #3692CA;
            color: white;
        }
    </style>
</head>
<body>
      <h3>Spread Move:</h3>
      <!--<img border="0" src="cid:image1" alt="Pulpit rock" width="304" height="228">-->
      <img src="cid:image1">
      <img src="cid:image2">
      <img src="cid:image3">
      <img src="cid:image4">
</body>
</html>
