*~
data.txt
analyse/data.txt
.waf*
.lock-waf*
.unittest-gtest/*
tools/waf-plugins/*.pyc
build/*
*pyc
*.swp
*.log
*.out
tools/waf-plugins/*
backend/tools/waf-plugins/*.pyc
*.swp
*.pyc
backend/tools/waf-plugins/*
backend/tools/.*
analyse/data/*
analyse/report/*
analyse/report/spread_report/*
data/*
report/*
experiment/simplepred/data.*
